body {
            font-family: Arial, sans-serif;
            text-align: center;
            background: #f4f4f4;
        }

        button {
            padding: 12px 25px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
        }

        .card {
            width: 300px;
            background: white;
            margin: 30px auto;
            padding: 20px;
            box-shadow: 0 0 10px gray;
            border-radius: 10px;
            display: none;
        }

        img {
            border-radius: 50%;
            margin-bottom: 10px;
        }